		
/* Top bar */
#top{
	background:#222;
	text-align:right;
	color:#eee;
}		
#top a {
	color:#eee;
	text-decoration:none;
	margin-right:1.5em;
	margin-left:1.5em;
	transition: color 0.5s linear;
}

#top a:hover {
	color: #65c4e5;
}	

#wrapper{
	padding:2em;
}
.upload_form form {
	margin-bottom:0;
}
.upload_form label{
	display:inline-block;
	width:20em;
	
}

h2 {
	margin-top:1em;
}

/* Arrays */
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
	font-weight:bold;
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.cycles li, .matieres li, .profs li, .salles li {
	margin-top:0;
	margin-bottom:0;
}
.cycles, .matieres, .profs, .salles {
	float:left;
	min-width : 8em;
	margin-right:2em;
}
.cycles ul li:hover, .matieres ul li:hover,  .profs ul li:hover,.salles ul li:hover {
	background:#fbf8e9;
}

label {
	margin-left:0;
}

.highlight  {
	background:#dce9f9 ;
}
li.highlight:hover {
	background:#e1effc !important;
}

button[disabled]{
	color:#bbb;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(150,150,150,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(150,150,150,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(150,150,150,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(150,150,150,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(150,150,150,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
}

button[disabled]:hover{
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
	
	
	
	
	